.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    color: white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .Header-logo {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .Header-buttons {
    display: flex;
  }
  
  .Header-search,
  .Header-login {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .Header-search:hover,
  .Header-login:hover {
    color: #ccc;
  }
  