.Header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Распределяем элементы по краям хедера */
  background-color: #333;
  color: white;
  padding: 10px;
  font-family: Montserrat;
  
}

.Header-logo {
  font-size: 24px;
  font-weight: bold;
}

.Header-buttons {
  display: flex; /* Делаем кнопки гибкими */
}

.Header-search,
.Header-login {
  border: none;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.Header-search:hover,
.Header-login:hover {
  background-color: #ddd;
  color: black;
}

/* Добавляем медиа запрос для адаптивности - когда экран меньше или равен 600px, скрываем логотип и уменьшаем размер кнопок */
@media screen and (max-width: 500px) {

  .Header-search,
  .Header-login {
    padding: 5px;
    font-size: 16px;
  }
}
