.PostList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Стиль для поста */
.Post {
  /* Общие правила для всех устройств */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* Медиа-запрос для устройств с шириной экрана больше или равной 600px */
@media (min-width: 600px) {
  .Post {
    /* Правило для ПК: ширина поста равна 600px */
    width: 600px;
  }
}

/* Медиа-запрос для устройств с шириной экрана меньше 600px */
@media (max-width: 599px) {
  .Post {
    /* Правило для мобильных устройств: ширина поста равна ширине экрана */
    width: 100%;
  }
}

