.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App > * {
    flex-shrink: 0;
  }
  
  .App > .PostList {
    flex-grow: 1;
  }

  .no-more-posts {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }