/* Задаем общие стили для всего приложения */
* {
    /* Используем шрифт Roboto */
    font-family: Roboto, sans-serif;
  }
  
  /* Задаем стили для элемента post */
  .post {
    /* Используем флекс-бокс для вертикального расположения элементов */
    display: flex;
    flex-direction: column;
    /* Добавляем отступы внутри элемента */
    padding: 16px;
  }
  
  /* Задаем стили для элемента author */
  .author {
    /* Используем флекс-бокс для горизонтального расположения элементов */
    display: flex;
    /* Выравниваем элементы по центру */
    align-items: center;
  }
  
  /* Задаем стили для элемента Avatar внутри author */
  .author > .Avatar {
    /* Добавляем отступ справа */
    margin-right: 8px;
  }
  
  /* Задаем стили для элемента content */
  .content {
    /* Добавляем отступ сверху */
    margin-top: 8px;
  }
  
  /* Задаем стили для элемента actions */
  .actions {
    /* Используем флекс-бокс для горизонтального расположения элементов */
    display: flex;
  }
  
  /* Задаем стили для элемента Button внутри actions */
  .actions > .Button {
    /* Добавляем отступ справа */
    margin-right: 8px;
  }
  
  /* Задаем стили для элемента spinner */
  .spinner {
    /* Выравниваем по центру */
    text-align: center;
  }
  
  /* Задаем стили для элемента footer */
  .footer {
    /* Используем маленький размер шрифта */
    font-size: 12px;
  }
  
  /* Задаем стили для элемента loader */
  .loader {
    /* Делаем невидимым на экране */
    visibility: hidden;
  }
  
  /* Создаем анимацию подгрузки постов с именем load-more */
  @keyframes load-more {
    /* Начальное состояние анимации - прозрачность и высота равны нулю */
    from {
      opacity: 0;
      height: 0;
      transform: translateY(-50%);
      visibility: hidden;
      overflow: hidden;
      transition-property: opacity, height, transform, visibility, overflow;
      transition-duration: .5s, .5s, .5s, .5s, .5s;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
      transition-delay: .5s, .5s, .5s, .5s, .5s;
      transition-fill-mode: forwards, forwards, forwards, forwards, forwards;
    }
    /* Конечное состояние анимации - прозрачность и высота равны единице */
    to {
      opacity: 1;
      height: auto;
      transform: translateY(0);
      visibility: visible;
      overflow: visible;
      transition-property: opacity, height, transform, visibility, overflow;
      transition-duration: .5s, .5s, .5s, .5s, .5s;
      transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
      transition-delay: 0s, 0s, 0s, 0s, 0s;
      transition-fill-mode: forwards, forwards, forwards, forwards, forwards;
    }
  }
  
  /* Применяем анимацию load-more к элементам post при добавлении в DOM */
  .post {
    animation-name: load-more;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  